@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


.title
{
    color: #0f1b61;
    font-family: 'Poppins';
    margin-top: 10px;
    margin-left: 20px;
}

.aboutme
{
    font-family: 'Poppins';
    font-size: large;
    text-align: center;
    margin-top: 20px;
}

.description
{
    font-family: 'Poppins';
    text-align: justify;
}

.certificado
{
    font-family: 'Poppins';
    text-align: center;
}

.footer
{
    margin-top: 30px; 
    height: 100px;
    width: 100%;
    background: #1b252f; 
    position: absolute;
    left: 0
}

.footertitle
{
    font-family: 'Poppins';
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 20px;

}

.teste
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}   

.footertext
{
    font-family: 'Poppins';
    color: white;
    text-decoration: none;
    display: inline-flex;
    margin: 0px 5px;
}